body
{
    font-family: Sans-serif;
}

header
{
    float: left;
    margin: 5px;
    /*border: 3px solid black;*/
    border-radius: 5px;
    color: red;
    margin-right: 225px;
    padding: 0px;
}

header img
{
    border-radius:5px;
    border: 3px solid black;
    margin: 0px;
}

.loginBox
{
    width: 200px;
    height: 160px;
    float: right;
    margin: 5px;
    border: 3px solid black;
    border-radius: 10px;
    padding: 5px;

}

.loginBox p
{
    vertical-align:center;
}
nav
{
    clear:both;
    margin: 5px;
    border: 3px solid black;
    border-radius: 10px;
    padding: 5px;
}


footer
{
    margin: 5px;
    border: 3px solid black;
    border-radius: 10px;
    padding: 5px;
}

.idee
{
    margin: 5px;
    border: 3px solid black;
    border-radius: 10px;
    padding: 5px;
}

.about
{
    margin: 5px;
    border: 3px solid black;
    border-radius: 10px;
    padding: 5px;
}
.main
{
    margin: 5px;
    border: 3px solid black;
    border-radius: 10px;
    padding: 5px;
}

