body
{
    font-family: Sans-serif;
}

header
{
    float: left;
    margin: 5px;
    border: 3px solid black;
    border-radius: 10px;
    padding: 5px;
    color: red;
    height: 80px;
    margin-right: 225px;
}

nav
{
    clear:both;
    margin: 5px;
    border: 3px solid black;
    border-radius: 10px;
    padding: 5px;
}


footer
{
    margin: 5px;
    border: 3px solid black;
    border-radius: 10px;
    padding: 5px;
}

.idee
{
    margin: 5px;
    border: 3px solid black;
    border-radius: 10px;
    padding: 5px;
}

.about
{
    margin: 5px;
    border: 3px solid black;
    border-radius: 10px;
    padding: 5px;
}
.main
{
    margin: 5px;
    border: 3px solid black;
    border-radius: 10px;
    padding: 5px;
}

.loginBox
{
    width: 200px;
    height: 80px;
    float: right;
    margin: 5px;
    border: 3px solid black;
    border-radius: 10px;
    padding: 5px;

}
